<div class="container">
  <form [formGroup]="form" (ngSumbmit)="guardar()">
    
    <div class="boton-1">
      
    <div>
      <button mat-stroked-button color="warn" class="stroked" (click)="eliminarTodo()">Eliminar todo</button>
    </div>
     <button mat-raised-button color="primary" (click)="agregar()">+</button>
     <tbody *ngFor="let s of botones.controls; let i = index">
      
        <td>{{ i + 1 }}</td>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Utiles Escolares</mat-label>
            <input matInput>
          </mat-form-field>
          </div>
          <div>
            <button mat-flat-button color="warn" class="boton-2" (click)="borrar(i)">Eliminar</button>
          </div>
          <div class="check" >
            <mat-checkbox>Aceptar</mat-checkbox>
          </div>
          
    </div>
    
          <button mat-stroked-button class="stroked-1" (click)="guardar()" >Guardar</button>
          <button mat-stroked-button class="stroked-2" (click)="limpiar()" >Limpiar</button>

  
  </form>
  
</div>