.mat-stroked-button{
  border-color: red;
  margin-top: 10px;
  margin-left: 18rem;
}


.mat-raised-button{ 
  margin-top: -9px;
}

.boton-1{
  padding-top: 10px;
  float: left;
  margin-right: 100px;
  padding-left: 30%;
}

.check{
  margin-top: 30px;
  margin-left: 400px;
  
}


.mat-form-field{
  padding-top: 15px;
  margin-left: 10%;
  margin-right: 30px;
  float: left;
}


.boton-2{
  float: left;
  margin-left: 280px;
  margin-top: -60px;
  margin-bottom: -10px;

}


.stroked-1{
  border-color: rgb(95, 204, 95);
  color: rgb(95, 204, 95);
  margin-right: 30px;
  margin-left: 5px;
  margin-top: 250px;
  
}


.stroked-2{
  border-color: rgb(70, 144, 228);
  color: rgb(105, 173, 236);
  margin-left: 1px;
}


.btn-danger {
  border: none;
  background-color: #bb0f0f;
  color: white;
  padding: 8px;
  cursor: pointer;
}

.container{
  width: 100%;
  height: 20%;
}





